keras
numpy
astropy
h5py
matplotlib
astroquery
pandas
seaborn
# force tensorflow 1.5.0 for readthedocs because of AVX instruction >=1.5.1, it wont affects in real world
tensorflow==1.5.0
scipy
scikit-learn
tqdm

sphinx>=1.7.4
nbsphinx
ipykernel